#title {
	font: Lucida;
	font-style: oblique;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}

div.screenshot {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 40%;
}

img {
	width: 100px;
	height: 100px;
}

.caption {
	display: block;
}
