#title {
	font: Lucida;
	font-style: oblique;
	font-weight: bold;
	font-variant: small-caps;
}

#lyrics {
	font: Lucida;
	font-style: oblique;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 24px;
}
